/ios/doudizhu/proj.ios/Pods/GTSDK/*.a
/ios/doudizhu/proj.ios/doudizhu/WeChatSDK/*.a
/ios/doudizhu/proj.ios/egret_libs/*.a
/ios/doudizhu/proj.ios/build
/ios/doudizhu/Resources
/ios/WeChatSDK/*.a
/ios/egret_libs/*.a
